/* 전체 좌석 감싸는 컨테이너 */
.seat-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.seat {
    border:1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seat.available {
    background-color: #e8f5e9;
}

.seat.available:hover {
    background-color: #c8e6c9;
}

.seat.occupied {
    background-color: #ffebee;
    color: #757575;
    cursor: not-allowed;
}